body{
background-image: url("gallery/bkgd.jpg");
}
header{
font-size:100px;
text-align:center;
background-image:url("gallery/logobk.jpg");
font-weight:bolder;
color:red;
text-shadow:-6px -4px 4px black;
}
hr{
background-color:blue;
}
ul.nav{
list-style-type:none;
margin-left:5%;
padding:0;
width:90%;
height:60px;
background-color:red;
}
ul.nav{
border:2px solid black;
text-align: center;
}
li.as{
float:left;
font-size:30px;
width:215px;
height:60px;
border-right:1px solid black;
}
li:last-child{
border-right:none;
}
a{
display:block;
text-decoration: none;
color:blue;
padding-top:8px;
}
h1{
font-size:40px;
font-weight:bolder;
text-align: center;
}
h2{
font-size:60px;
font-weight:bold;
height:140px;
padding-bottom:0;
margin-bottom:0;
text-decoration: underline;
color:blue;
}
p{
font-size:30px;
margin:0;
padding:0;
}
ul.do{
font-size:45px;
}
div.pix{
margin:30px;
border:1px solid black;
float:left;
}
div.desc{
font-size:30px;
text-align: center;
}
div.pix2{
margin:30px;
border:1px solid black;
float:left;
}
div.gallery{
height:800px;
width:80%;
margin:10%;
padding:0;
}

